#footer {
    z-index: 4;

    .highlight {
        @include transition-ease;

        &:hover {
            border-left: none !important;
            border-right: none !important;
            margin-bottom: -1px !important;
            border-bottom: 1px solid $secondary-color !important;
        }
    }
}