.navbar {
    background: rgb(40, 44, 71);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    opacity: 1;
    z-index: 3;
    border-bottom-left-radius:50% 50%;
    border-bottom-right-radius:50% 50%;

    &-brand {
        font-family: 'Dancing Script', cursive;
        font-weight: 100;
        margin-bottom: 0.5rem;
        margin-left: 2rem;
    }

    &-toggler {
        border: none;
        position: absolute;
        z-index: 1;
        right: 1rem;
        top: 1.2rem;
        height: 20px;
        width: 28px;
        margin-right: 2rem;
        cursor: pointer;
        @include transition-ease;

        &-icon {
            position: absolute;
            right: 0;
            top: 0.5rem;
            width: 28px;
            height: 3px;
            background: set-text-color($primary-color);
            @include transition-ease;

            &::before {
                content: '';
                position: absolute;
                top: -8px;
                width: 28px;
                height: 3px;
                background: set-text-color($primary-color);
                @include transition-ease;
            }

            &::after {
                content: '';
                position: absolute;
                top: 8px;
                width: 28px;
                height: 3px;
                background: set-text-color($primary-color);
                @include transition-ease;
            }

            &.open {
                transform: rotate(90deg);
                background: transparent;

                &::before {
                    transform: rotate(45deg) translate(5px, 8px);
                }

                &::after {
                    width: 28px;
                    transform: rotate(-45deg) translate(3px, -7px);
                }
            }
        }
    }

    #mainNavbar {
        z-index: 4;
        .navbar-nav {
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: center;

            .nav-item {
                font-size: 1.3rem;
                padding-bottom: 0.5rem;

            }

            .nav-link {
                padding-left: 1rem;
                padding-right: 1rem;
                @include transition-ease;

                &:hover {
                    color: $secondary-color;
                    border-left: 1px solid $secondary-color;
                    border-right: 1px solid $secondary-color;
                }
            }
        }
    }
}