#quotes {
    i {
        opacity: 0.65;
    }
}

.parallax-3{
    /* The image used */
    background-image: url("../img/experience.jpg");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}